//
   Created by Borys Usov on 16.06.2014.

doctype html
html
    head
        title Social Monitor
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/main.css")
    body(ng-app='app')

        block main-content
            div.navbar.navbar-inverse.navbar-fixed-top
                div.container
                    div.navbar-collapse.collapse
                        ul.nav.navbar-nav
                            li
                                a(href="/") Home
                            li
                                a(href="/") Your Tags

                        div(ng-include="'/partials/account/login'")

        // Save user object for UI
        if !!userObject
            script window.userObject = !{JSON.stringify(userObject)}

        section.content
            div(ng-view)

        script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")
        script(type="text/javascript", src="/lib/angular/angular.js")
        script(type="text/javascript", src="/lib/angular-resource/angular-resource.js")
        script(type="text/javascript", src="/lib/angular-route/angular-route.js")
        script(type="text/javascript", src="/lib/underscore/underscore.js")

        script(type="text/javascript", src="/app/app.js")
        script(type="text/javascript", src="/app/main/mainCtrl.js")
        script(type="text/javascript", src="/app/main/tagsResource.js")
        script(type="text/javascript", src="/app/account/loginCtrl.js")
        script(type="text/javascript", src="/app/account/identity.js")
        script(type="text/javascript", src="/app/account/userResource.js")
        script(type="text/javascript", src="/app/account/authService.js")
        script(type="text/javascript", src="/app/admin/usersCtrl.js")

