div.navbar-right(ng-controller="loginCtrl")
    form.navbar-form(ng-hide="identity.isAuthenticated()")
        div.form-group
            input.form-control(placeholder="username", ng-model="username")

        div.form-group
            input.form-control(placeholder="password", ng-model="password")

        div.btn-group
            button.btn.btn-primary(ng-click="signIn(username, password)") Sign In
            a.btn.btn-primary(href="/register") Register

    ul.nav.navbar-nav(ng-show="identity.isAuthenticated()")
        li
            p.navbar-text Signed in as {{identity.currentUser.username}}
        li(ng-show="identity.currentUser.isAdmin()")
            a(href="/admin/users") User List
        li
            a(href="", ng-click="signOut()") Sign Out